/* .char {
    width:3rem;
    height: 4rem;
    color: aliceblue;
} */
:root {
    --font-family:font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

*{
    box-sizing:border-box;
    font-family: var(--font-family);
}

.btnx {
    height: 3.5rem;
    width: 3rem;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(176, 177, 179);
    /* flex-shrink: 0; */
    transition: transform 0.6s;
}


.btny {
    height: 3.5rem;
    width: 4.5rem;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(176, 177, 179);
    /* flex-shrink: 0; */
    transition: transform 0.6s;

}

.btnx:hover, .btny:hover {

    transform: translateY(-6px);
    transition: transform 0.6s;

}

.row{
    width:400x;
}


.grid-container {
    width: 372px;
    height: 440px;
    margin: auto;
    /* border: 1px solid black; */
    padding: 10px;
    position: relative;
    top: 100px;
}


.keyboard-container{
    position:absolute;
    bottom: 10px;
}

.input-text{
    width: 60px;
    height: 60px;
    margin: 5px;
    padding: 2px;
    font-size: large;
    font-weight: bold;
    text-align: center;
    border: 1px solid rgb(135, 138, 140);
    border-radius: 5px;
    /* background-color: rgb(164, 189, 187); */

}