/* .char {
    width:3rem;
    height: 4rem;
    color: aliceblue;
} */
:root {
    --font-family:font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

*{
    box-sizing:border-box;
    font-family: var(--font-family);
}

.mynavbar {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid black;
    width:100%;
    height: 60px;
    position: sticky;
    align-items: center;
    justify-content: space-between;


}

.option, .menu{
    display: flex;
    margin: 10px;
    /* width: 80px; */

}
.opt, .menu{
    display: flex;
    height: 40px;
    padding: 5px;
}


.logo{
    width: max-content;
    font-size: xx-large;
    font-weight: bolder;
    
}


.btnx {
    height: 3.5rem;
    width: 3rem;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(176, 177, 179);
    /* flex-shrink: 0; */
    transition: transform 0.3s;
}

/* .btnx:hover, .btny:hover {

    transform: translateY(-6px);
    transition: transform 0.3s;

} */
.enter, .backspace {
    width: 4.5rem;
}



.row{
    width:400x;

}


.grid-container {
    width: 372px;
    height: 440px;
    margin: auto;
    /* border: 1px solid black; */
    padding: 10px;
    position: relative;
    top: 100px;
}


.keyboard-container{
    position:absolute;
    bottom: 10px;
}

.input-text{
    width: 60px;
    height: 60px;
    margin: 5px;
    padding: 2px;
    font-size: large;
    font-weight: bold;
    text-align: center;
    border: 1px solid rgb(135, 138, 140);
    border-radius: 5px;
    /* background-color: rgb(164, 189, 187); */

}