body{
    background-color: var(--default);
}
:root {
    --default: #121213;
    --empty: #3a3a3c;
    --wrong: #b59f3b;
    --right: #538d4e;
    --keyboard: #818384;
}
h1{
    text-align: center;
    color: white;
    font-size: 32px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(95, 93, 93, 0.611);
    font-family: "nyt-karnakcondensed";
    font-weight: 700px;
}

#game-board{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.row{
    display: flex;
}
.box{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border: 2px solid var(--empty);
    margin: 3px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 3rem;
    width: 3rem;
}

#keyboard-cont{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

#keyboard-cont div{
    display: flex;
}

.second-row{
    margin: 0.5rem 0
}

.keyboard-button {
    color: white;
    background-color:var(--keyboard) ;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.5rem;
    margin: 0 2px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 4px;
    border: 0;
    margin: 0 6px 0 0;
    height: 58px;
    min-width: 40px;
  }